/*

Colors
* light green: rgb(122, 253, 219)
* dark green: rgb(62, 126, 109)

*/

body {
  font-family: Georgia, serif;
  line-height: 1.5em;
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
}

header {
  background-color: rgb(62, 126, 109);
  color: white;
  padding: 30px 20px;
  font-family: Helvetica, sans-serif;
}

.main-content {
  display: flex;
}

.sidebar {
  background-color: rgb(122, 253, 219);
  padding: 20px;
  flex-basis: 20%;
}

article {
  padding: 20px;
  flex-basis: 80%;
}

footer {
  background-color: rgb(62, 126, 109);
  color: white;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  .main-content {
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
}
